// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font: 'Roboto Condensed', sans-serif;

// base color scheme
$black: #000000;
$light-blue: #f2f8ff;
$dark-gray: #444444;
$darker-gray: #222222;
$light-gray: #777777;
$lighter-gray: #bbbbbb;
$transparent-gray: rgba(100, 100, 100, 0.8);
$white: #ffffff;

// base color settings
$background-color: $light-blue;
$header-text-color: $white;
$masthead-background-color: $transparent-gray;
$body-text-color: $dark-gray;
$menu-text-color: $light-gray;
$menu-hover-color: $dark-gray;

// base style settings
$header-border: 2px solid $darker-gray;
$header-text-shadow: 1px 1px 2px $black;
$footer-border: 1px solid $lighter-gray;
$menu-border: 1px solid $lighter-gray;

// responsive settings
$break-small: 320px;
$break-medium: 640px;
$break-large: 1110px;