/* =Social
-------------------------------------------------------------- */

.social-links {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../images/icons/social-sprite.png");
}

.social-wrap {
    position: relative;
    padding: 0 5px 0 0;
    top: 4px;

    ul {
        margin: 0;

        li {
            display: inline-block;

            a {
                display: block;
                width: 32px;
                height: 32px;
                background-image: url("../images/icons/social-sprite.png");
                opacity: 0.8;
                filter: alpha(opacity=80); // for IE8 and earlier

                &:hover {
                    opacity: 1.0;
                    filter: alpha(opacity=100); // for IE8 and earlier
                }

                &.facebook-pink  { background-position: 0px 0px; }
                &.twitter-pink   { background-position: -32px 0px; }
                &.etsy-pink      { background-position: -64px 0px; }
                &.gplus-pink     { background-position: -96px 0px; }
                &.pinterest-pink { background-position: -128px 0px; }
                &.rss-pink       { background-position: -160px 0px; }
                &.email-pink     { background-position: -192px 0px; }
                &.facebook-blue  { background-position: 0px -32px; }
                &.twitter-blue   { background-position: -32px -32px; }
                &.etsy-blue      { background-position: -64px -32px; }
                &.gplus-blue     { background-position: -96px -32px; }
                &.pinterest-blue { background-position: -128px -32px; }
                &.rss-blue       { background-position: -160px -32px; }
                &.email-blue     { background-position: -192px -32px; }
            }
            
            
            img {  
                width: 32px;
                height: 32px;
            }
        }
    }
}

.masthead .social-wrap {
    margin-right: 10px;
}