@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
/* =Reset
-------------------------------------------------------------- */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f2f8ff; }

ul {
  list-style: none; }

/* =Mixins
-------------------------------------------------------------- */
.social-icons, .social-wrap {
  float: right;
  position: relative;
  padding: 0 5px 0 0;
  opacity: 0.8;
  filter: alpha(opacity=80); }

/* =Layout
-------------------------------------------------------------- */
.header-wrap {
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  border-bottom: 2px solid #222222;
  z-index: 99;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 -50px;
  background-attachment: fixed; }
  .header-wrap .masthead {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: rgba(100, 100, 100, 0.8);
    border-bottom: 2px solid #222222;
    /*.menu-dropdown {
            z-index: 99;

            &:before {
                content: "≡";
                border: 1px solid black;
                border-radius: 4px;
                padding: 3px 10px;
                position: relative;
                font-size: 250%;
            }
        }*/
    /*#social {
            @extend .social-icons;
            list-style: none;

            @include responsive(small-screens) {
                margin-top: 0;
            }
            @include responsive(medium-screens) {
                top: -8px;
            }
            @include responsive(large-screens) {
                top: -8px;
            }
            @include responsive(wide-screens) {
                top: -8px;
            }

            li {
                display: inline;

                img {
                    @include social-icon-img;
                }
            }
        }*/ }
    @media only screen and (max-width: 480px) {
      .header-wrap .masthead {
        height: 68px; } }
    @media only screen and (min-width: 481px) and (max-width: 859px) {
      .header-wrap .masthead {
        height: 50px; } }
    @media only screen and (min-width: 861px) and (max-width: 1109px) {
      .header-wrap .masthead {
        height: 50px; } }
    @media only screen and (min-width: 1110px) {
      .header-wrap .masthead {
        height: 50px; } }
    .header-wrap .masthead #title {
      float: left;
      padding: 3px 0 0 10px; }
      @media only screen and (max-width: 480px) {
        .header-wrap .masthead #title h2 {
          font-size: 24px; } }
  .header-wrap .title-wrap {
    white-space: nowrap; }
    @media only screen and (max-width: 480px) {
      .header-wrap .title-wrap {
        height: 108px; } }
    @media only screen and (min-width: 481px) and (max-width: 859px) {
      .header-wrap .title-wrap {
        height: 220px; } }
    @media only screen and (min-width: 861px) and (max-width: 1109px) {
      .header-wrap .title-wrap {
        height: 380px; } }
    @media only screen and (min-width: 1110px) {
      .header-wrap .title-wrap {
        height: 380px; } }
    .header-wrap .title-wrap .top-title {
      margin: 0 auto; }
      @media only screen and (max-width: 480px) {
        .header-wrap .title-wrap .top-title {
          display: none; } }
      @media only screen and (min-width: 481px) and (max-width: 859px) {
        .header-wrap .title-wrap .top-title {
          width: 100%;
          padding-top: 20px;
          text-align: center; } }
      @media only screen and (min-width: 861px) and (max-width: 1109px) {
        .header-wrap .title-wrap .top-title {
          width: 50%;
          padding-top: 50px;
          text-align: right; } }
      @media only screen and (min-width: 1110px) {
        .header-wrap .title-wrap .top-title {
          width: 50%;
          padding-top: 50px;
          text-align: right; } }
    .header-wrap .title-wrap .top-title-short {
      display: none;
      text-align: left;
      padding-left: 30px; }
      .header-wrap .title-wrap .top-title-short h2 {
        font-size: 20px; }
      @media only screen and (max-width: 480px) {
        .header-wrap .title-wrap .top-title-short {
          display: block; } }
    @media only screen and (max-width: 480px) {
      .header-wrap .title-wrap .main-title {
        padding-left: 20px; }
        .header-wrap .title-wrap .main-title h3 {
          font-size: 35px; } }
    @media only screen and (min-width: 481px) and (max-width: 859px) {
      .header-wrap .title-wrap .main-title {
        width: 100%;
        margin: 10px auto 0 auto;
        line-height: 70px;
        text-align: center; } }
    @media only screen and (min-width: 861px) and (max-width: 1109px) {
      .header-wrap .title-wrap .main-title {
        width: 60%;
        margin: 20px auto;
        line-height: 70px;
        text-align: left; } }
    @media only screen and (min-width: 1110px) {
      .header-wrap .title-wrap .main-title {
        width: 60%;
        margin: 20px auto;
        line-height: 70px;
        text-align: left; } }
    .header-wrap .title-wrap .bottom-title {
      text-align: center; }
      @media only screen and (max-width: 480px) {
        .header-wrap .title-wrap .bottom-title {
          display: none; } }
      @media only screen and (min-width: 481px) and (max-width: 859px) {
        .header-wrap .title-wrap .bottom-title {
          width: 100%;
          margin: 0 auto; } }
      @media only screen and (min-width: 861px) and (max-width: 1109px) {
        .header-wrap .title-wrap .bottom-title {
          width: 50%;
          margin: 70px auto 0 auto; } }
      @media only screen and (min-width: 1110px) {
        .header-wrap .title-wrap .bottom-title {
          width: 50%;
          margin: 70px auto 0 auto; } }

.content-wrap {
  background: #f2f8ff;
  height: 100%;
  color: #444444;
  position: relative; }
  .content-wrap .registry-wrap {
    display: none;
    position: relative;
    padding-bottom: 75%;
    margin: 5px;
    height: 0;
    min-height: 480px;
    /*@include responsive(medium-screens) {
            width: 860px;
        }
        @include responsive(small-screens) {
            width: 310px;
        }
        @include responsive(large-screens) {
            width: 860px;
        }
        @include responsive(wide-screens) {
            width: 1010px;
        }*/ }
    .content-wrap .registry-wrap iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .content-wrap .events-wrap {
    display: none;
    width: 100%;
    padding: 5px 0 0 20px; }
  .content-wrap .content {
    width: 80%;
    text-align: center;
    margin: 50px auto; }

.footer-wrap {
  width: 100%;
  background: #f2f8ff; }
  .footer-wrap .copyright {
    width: 80%;
    color: #777777;
    text-align: center;
    margin: 0 auto;
    padding: 3px 0;
    border-top: 1px solid #bbbbbb; }

/* =Menu
-------------------------------------------------------------- */
.main-nav ul {
  padding: 10px 0;
  margin: 0; }
.main-nav span {
  padding-left: 40px; }
.main-nav li {
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #bbbbbb; }
.main-nav li:first-child {
  padding-top: 0; }
.main-nav li:last-child {
  border-bottom: none; }

/* =Social
-------------------------------------------------------------- */
.social-wrap ul {
  margin: 0; }
  .social-wrap ul li {
    display: inline-block; }
    .social-wrap ul li a {
      display: block;
      width: 32px;
      height: 32px;
      background-image: url("../images/icons/social-sprite.png"); }
    .social-wrap ul li a#facebook-pink {
      background-position: 0px 0px; }
    .social-wrap ul li a#twitter-pink {
      background-position: -32px 0px; }
    .social-wrap ul li a#etsy-pink {
      background-position: -64px 0px; }
    .social-wrap ul li a#gplus-pink {
      background-position: -96px 0px; }
    .social-wrap ul li a#pinterest-pink {
      background-position: -128px 0px; }
    .social-wrap ul li a#rss-pink {
      background-position: -160px 0px; }
    .social-wrap ul li a#email-pink {
      background-position: -192px 0px; }
    .social-wrap ul li a#facebook-blue {
      background-position: 0px -32px; }
    .social-wrap ul li a#twitter-blue {
      background-position: -32px -32px; }
    .social-wrap ul li a#etsy-blue {
      background-position: -64px -32px; }
    .social-wrap ul li a#gplus-blue {
      background-position: -96px -32px; }
    .social-wrap ul li a#pinterest-blue {
      background-position: -128px -32px; }
    .social-wrap ul li a#rss-blue {
      background-position: -160px -32px; }
    .social-wrap ul li a#email-blue {
      background-position: -192px -32px; }
    .social-wrap ul li img {
      width: 32px;
      height: 32px; }

@media only screen and (max-width: 480px) {
  .title-wrap .social-wrap {
    top: 2px; } }
@media only screen and (min-width: 481px) and (max-width: 859px) {
  .title-wrap .social-wrap {
    top: -2px; } }
@media only screen and (min-width: 861px) and (max-width: 1109px) {
  .title-wrap .social-wrap {
    margin-top: 48px; } }
@media only screen and (min-width: 1110px) {
  .title-wrap .social-wrap {
    margin-top: 48px; } }

@media only screen and (max-width: 480px) {
  .masthead .social-wrap {
    margin-top: 0; } }
@media only screen and (min-width: 481px) and (max-width: 859px) {
  .masthead .social-wrap {
    margin-top: 10px; } }
@media only screen and (min-width: 861px) and (max-width: 1109px) {
  .masthead .social-wrap {
    margin-top: 10px; } }
@media only screen and (min-width: 1110px) {
  .masthead .social-wrap {
    margin-top: 10px; } }

/* =Typography
-------------------------------------------------------------- */
body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #444444;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6, small {
  display: inline;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal; }

h3 {
  font-size: 60px; }

h2 {
  font-size: 30px; }

h1 {
  font-size: 25px; }

small {
  font-size: 12px; }

.main-nav span {
  color: #777777; }
.main-nav span:hover {
  color: #444444;
  cursor: pointer; }
